@import "_variables.scss";

@media screen and (max-width: 800px) {

  .tip{
    width: 100%!important;
  }
  nav{
    margin-right: 8%;
  }
  .navi{
    display: none;
  }
  .burger,#filter,.dropFilt,.botFilt,.burg{
    display: block!important;
  }
  .welcome{
    margin-top: 5+1%!important;
    p{
      width: 100%!important;
    }
    a{
      width: 50%!important;
    }
  }
  .recipes{
    flex-direction: column;
    .title{
      text-align: center;
    }
    .container{
      flex-wrap: wrap!important;
      justify-content: center;
      align-items: center;
      width: 100%;
      .recipe-card{
        width: 250px!important;
        margin-bottom: 5%;
        margin-left: 15px!important;
        img{
          width: 100%!important;
          height: 100%!important;
          object-fit: cover;
        }
      }
    }
  }

  .backG{
    width: 100%!important;
    .btn{
      width: 50%!important;
    }
  }

  .modal-content{
    width: 80%!important;
    height: 100vh;
    overflow: scroll;
  }

  .grid-gap{
    grid-row-gap: 20px!important;
    grid-column-gap: 20px!important;
  }
  aside{
    display: none;
  }

  .desc{
    width: 52%;
  }
}

@media (min-width:480px) and (max-width:800px) {
  nav{
    margin-right: 5%!important;
    .dropContent,.filtCat,.sortCont{
      right: 4%!important;
    }
  }
}

@media screen and (max-width: 480px) {
  .recipe-main{
    margin:0!important;
    margin-top: 10%!important;
    section{
      padding-top: 20px;
    }
    .recipe-card{
      margin-left: 0!important
    }
  }
  .recipes{
    margin-left: 0!important;
  }
}

@media screen and (min-width:1915px) {

    #prev{
      .recipe-card{
        width: 300px!important;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    h1{
      font-size: 42px!important;
      border-left: 0!important;
    }

  .grid{
    display: grid;
    &-tmp-col{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))!important;
    }
    img{
      height: 100%!important;
      width: 100%!important;
      object-fit: cover;
    }
  }

  nav{
    ul{
      margin-right: 0!important;
    }
  }

  aside{
    i{
      font-size: 32px!important;
    }
  }
  h5,a{
    font-family: $f1;
    font-weight: 300;
    font-size: 18px!important;
  }
  p{
    font-size: 20px!important;
  }
  h4{
    font-size: 24px!important;
  }
  h3{
    font-size: 28px!important;
  }
}

@media screen and (min-width:2560px) {

  aside{
    i{
      font-size: 34px!important;
    }
  }
  h5,a{
    font-family: $f1;
    font-weight: 300;
  }
  p,h5,a{
    font-size: 28px!important;
  }
  h4{
    font-size: 32px!important;
  }
  h3{
    font-size: 34px!important;
  }
}
