@import "_variables.scss";

@media screen and (max-width: 800px) {
  .tip{
    width: 100%!important;
  }
  .dropFilt{
    display: block;
  }
  nav{
    margin-right: 8%;
  }
  .navi{
    display: none;
  }
  .burg{
    display: block!important;
  }
  .burger,#filter{
    display: block!important;
  }
  .welcome{
    margin-top: 5+1%!important;
    p{
      width: 100%!important;
    }
    a{
      width: 100%!important;
    }
  }
  .recipes{
    flex-direction: column;
    .title{
      text-align: center;
    }
    .container{
      flex-direction: column;
      align-items: center;
      width: 100%;
      .recipe-card{
        width: 80%;
        margin-bottom: 5%;
        margin-left: 0;
      }
    }
  }

  .backG{
    width: 100%!important;
    .btn{
      width: auto;
    }
  }

  .modal-content{
    width: 80%!important;
    height: 100vh;
    overflow: scroll;
  }

  .grid-gap{
    grid-row-gap: 1%!important;
    grid-column-gap: 0;
  }
  aside{
    display: none;
  }

  .desc{
    width: 52%;
  }
}
