@import "_variables.scss";

.recipe-main{
  article{
    width: 70%;
    margin-left: 0;
    .recipe-card{
      width: 100%!important;
    }
    .title-recipe{
      display: flex;
      padding-left: 11%;
      align-items: center;
      h1{
        width: 50%;
        height: 35%;
        font-size: 50px;
        border-left: 5px solid $main;
        padding-left: 3%;
        color: #303030;
      }
    }
  }


}
