@import "_mainLand.scss";
@import "_variables.scss";
@import "_recipeList.scss";
@import "_recipe.scss";
@import "_queries.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body,ul,li,main.full,p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: $robo
}

.active{
  color:$main;
}

.bg{
  background-color: rgba(0,0,0,0.5);
  margin:1%;
}

.burger,.burg,.unhide,.dropContent,.botFilt{
  display: none
}

.welcome{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5%;
  padding-top: 10%;
  color:white;

  h4,p{
    text-align: center;
  }
  p{
    width: 50%;
  }
  min-height:100%;
  background:linear-gradient(0deg, $filtered, $filtered), url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size:cover;
}

a{
  color: inherit;
  text-decoration: none;
}

.hide{
  display: none;
}

.w{
  &-100{
    width: 100%!important;
  }
  &-80{
    width: 80%;
  }
  &-60{
    width: 60%;
  }
  &-50{
    width: 50%;
  }
  &-40{
    width: 40%!important;
  }
  &-30{
    width: 30%!important;
  }
}

.flex{
  display: flex;
  &-jc-ce{
    justify-content: center;
  }
  &-jc-e{
    justify-content: flex-end;
  }
  &-jc-st{
    justify-content: flex-start;
  }
  &-jc-sa{
    justify-content: space-around;
  }
  &-jc-sb{
    justify-content: space-between;
  }
  &-ai-e{
    align-items: flex-end;
  }
  &-ai-ce{
    align-items: center;
  }
  &-flx-col{
    flex-direction: column;
  }
  &-flx-row{
    flex-direction: row;
  }
}

.links{
  &:hover{
    text-decoration: underline;
  }
}

.text{
  &-wht{
    color: white;
  }
  &-blk{
    color: $dark;
  }
  &-ylw{
    color:$main;
  }
}

.btn{
  padding: 10px;
  margin:2%;
  width: 30%;
  text-align: center;
  &-bg-tp{
    background: transparent;
    color: white;
    border:2px solid white;
    transition: 0.5s;
    &:hover{
      background: white;
      color: $dark;
    }
  }
}

.grid{
  display: grid;
  &-tmp-col{
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  &-gap{
    grid-row-gap: 5%;
    grid-column-gap: 5%;
  }
}


.mrg{
  margin-bottom: 3%;
  &-0{
    margin-bottom: 0!important;
  }
  &-l-5{
    margin-left: 5%!important;
  }
}


.recipe-card{
  color:white;
  overflow: hidden;
  margin-left: 20px;
  width: 200px;
  img{
    transition: transform .5s ease;
    z-index: 0;
  }
  .text{
    z-index: 3;
    background-color: $main;
    transition: 0.3s;
    .desc,.descrip{
      display: none;
      transition: all 1s ease-in;
      position: relative;
    }
  }
  &:hover{
    cursor: pointer;
    img{
      transform: scale(1.5);
    }
    .text{
      background-color: #ffca33;
    }
    .desc,.descrip{
      display: flex;
      justify-content: center;
      padding:20px;
      position: absolute;
      width: 16%;//change this LATER!!!
      background-color: $main;
    }
    .descrip{
      width: 12%;//change this LATER!!!
    }
  }
}

.fa-arrow-right,.fa-search{
  margin-left: 5%;
}

.fa-search{
  &:hover{
    cursor: pointer;
    color:$main;
  }
}

ul{
  p{
    margin-bottom: 10%;
  }
}

li{
  list-style: none;
}

.filtCat{
  overflow: scroll;
  height: 100vh;
  li{
    &:hover{
      cursor: pointer;
    }
  }
}

.nav-head{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $dark;
  color:white;
  top: 0;
  position: fixed;
  z-index: 10;
  .search{
  background-color: transparent;
  border: 1px solid #ffb933;
  border-radius: 20px;
  padding: 5px;
  color: white;
  margin-left: 3%;
  }
  .logo{
    h4{
      font-family: $robo!important;
    }
  }
  nav{
    width: 100%;
  }
  ul{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 5%;
    justify-content: flex-end;
    li{
      margin-left: 3%;
      a{
        font-family: $robo;
        &:hover{
          color: $main;
        }
      }
    }
  }
}

aside{
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 3%;
  margin-left: 1%;
    .side-nav{
      color:$dark;
      display: none;
      position: fixed;
      z-index: 1;
      bottom: 20%;
      left: 10px;
      overflow-x: hidden;
      padding: 8px 0;
        a{
          font-size: 16px;
        }
    }
  .side-content{
    height: 100%;
  }
  a{
    width: 5%;
    color: $dark;
    font-size: 20px;
    margin-bottom: 5%;
    &:hover{
      color:$main;
      cursor: pointer;
    }
    }
}



.align{
  &-r{
    text-align: right!important;
  }
  &-l{
    text-align: left!important;
  }
  &-c{
    text-align: center!important;
  }
}

$back:"https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80";

.backG{
  background-color: rgba(0,0,0,0.5);
}

.tips{
  padding:1%;
  margin-top: 10%;
  background: url($back);
  background-repeat: no-repeat;
  background-size: cover;
}

.tipcont{
  height: 30vh;
  &-bg1{
    background-image:url($img1);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-bg2{
    background-image:url($img2);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-bg3{
    background-image:url($img3);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-bg4{
    background-image:url($img4);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tip{
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding:20px;
    h3{
      margin:0;
    }
    h3,p{
      text-align: right;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 99;
}

/* Modal Content/Box */
.modal-content {
  header{
    margin:0!important;
    padding: 0!important;
  }
  background-color: white;
  color: $dark;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s;
  p{
      text-align: left;
      margin:2%;
      margin-left: auto;
  }
  .ing{
    margin-left: 2%!important;
  }
  .meas{
    margin-left: 0!important;
  }
  .message{
    padding:20px;
    width: 50%;
  }
  .content{
    margin-right: 0;
    margin-bottom: 0;
  }
  .pop{
    height: 20%;
  }
  .main-desc{
    text-align: left;
    p{
      text-align: left;
    }
    a{
      border:2px solid white;
      width: 30%;
      padding: 5px;
      margin:1%;
      &:hover{
        background-color: white;
        color:$dark;
      }
    }
  }
  article{
    h4{
      color: $dark;
    }
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: $dark;
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover,&:focus{
    color: $main;
    text-decoration: none;
    cursor: pointer;
  }
}

.burgNav{
  margin-right: 0!important;
}

.dropContent,.filtCat{
  width: 100%;
  background-color: $dark;
  position: absolute;
  top: 100%;
  right: 8%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  li{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
